@use './Chat/Chat.scss';
@use './ChatList/Clist.scss';
@use './Search/searchArea.scss';


.Home-Wrapper{
    display: grid;
    grid-template-columns: 25% 75%;

    .Home-Clist {
      
    }   

    .Home-ChatIns {
        display: grid;
        grid-template-areas: "content" 
        "controller";
        margin: 0 15%;
        grid-template-columns: 70% ; 
        grid-template-rows: 90% 10%;
    }}