@import '../../../../common/common.scss';;

.Message {
    margin: 1rem 0;
    display: flex;
    background-color: $hover-color;

    max-width: max-content;
    width: fit-content; 
    
    .Message-Content { 
        padding: 0 0.5rem 0.375rem 0.625rem;
    }
} 