@use './Message/Message.scss'; 
@use './Controller/Controller.scss';
@import '../../../common/common.scss';

.ChatIns {
    max-width: $--message-container;
    // padding: 0 0.8125rem;
    // overflow-y: overlay;
    // grid-area: "content";
    max-height: 90vh;
    overflow: auto;
    white-space: nowrap;

} 