@use './Message/Message.scss'; 
@use './Controller/Controller.scss';
@import '../../common/common.scss';

.Chat-Scrollable {
    overflow-y: auto;
    transform: translateZ(0);
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
}
.ChatIns {
    max-width: $--message-container;
    padding: 0 0.8125rem;
    max-height: 90vh;


    
} 