@import '../../../../common/common.scss';

.ConrollerIns {
    grid-area: controller;
    .Input-Controller {
        
        display: flex;
        align-items: center;

        .TextArea-Controller {
            resize: none;
            width: 100%;
        }

        .Send-Button {
            zoom: 2;
            background: $primary-color;
            border-radius: 50%;
        }
    }
}